.header-container {
    position: fixed;
    left: 50px;
    right: 50px;
    top: 40px;
    height: 80px;
    z-index: 100;
    border-radius: 40px;
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    -moz-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
    background: #ffffff;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 992px) {
        left: 0;
        right: 0;
        top: 0;
        height: 80px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .name-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .profile-icon {
            overflow: hidden;
            margin: 0 10px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 25px;
            }
        }
        div {
            font-family: "SF-Pro";
            font-weight: 900;
            font-size: 1rem;
            line-height: 1.05rem;
        }
    }
    .options-hamburger {
        display: none;
        @media (max-width: 992px) {
            display: block;
        }
        .hamburger-react {
            border: 1px solid #e0e1e2;
            border-radius: 30px;
            margin: 0 10px;
        }
        .header-slider {
            position: absolute;
            left: 0;
            height: calc(100vh - 70px);
            width: 100vw;
            background: #fff;
            top: 80px;
            transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1);
        }
    }
    .options-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        @media (max-width: 992px) {
            display: none;
        }
        .download-CV {
            padding: 0 35px;
            position: relative;
            overflow: hidden;
            height: 64px;
            line-height: 62px;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
            background: transparent;
            outline: none;
            border: 1px solid #fff;
            cursor: pointer;
            border-radius: 64px;
            -moz-border-radius: 64px;
            -webkit-border-radius: 64px;
            -khtml-border-radius: 64px;
            transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
            -moz-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
            -webkit-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
            background-color: #0080ff;
            color: #fff;
            font-family: "SF-Pro";
            font-weight: 900;
            font-size: 0.9rem;
            line-height: 1.15rem;
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
        }
        a.download-CV:hover {
            border: 1px solid #0080ff;
            background-color: #fff;
            color: #0080ff;
        }
    }
}

.option-menu {
    font-family: "SF-Pro";
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8rem;
    display: flex;
    padding: 0;
    @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
    }
}
.option-menu * {
    box-sizing: border-box;
}
.option-menu li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
    margin: 10px 0.6em;
}
.option-menu a {
    padding: 0.5em 0;
    color: #58595b;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}
.option-menu a:before,
.option-menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.option-menu a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #2980b9;
}
.option-menu a:after {
    left: 0;
    top: 0;
    padding: 0.45em 0;
    position: absolute;
    content: attr(data-hover);
    color: #121212;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}
.option-menu a:hover:before,
.option-menu .current a:before {
    opacity: 1;
    width: 100%;
}
.option-menu a:hover:after,
.option-menu .current a:after {
    max-width: 100%;
}
