.information-box {
    overflow: scroll;
    overflow-x: auto;
    width: calc(100% - 70px);
    min-height: 100vh;
    max-height: 100vh;
    @media (max-width: 992px) {
        overflow: initial;
        width: -webkit-fill-available;
        padding: 40px 20px;
        min-height: fit-content;
        max-height: fit-content;
    }
    .common-section {
        min-height: 100vh;
        max-height: auto;
        padding: 20px 40px;
        @media (max-width: 992px) {
            padding: 20px 10px;
        }
    }
    .home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-height: auto;
        @media (max-width: 992px) {
            padding: 0;
        }
        .normal-tag-one {
            font-family: "Caveat";
            font-weight: 100;
            font-size: 1.3rem;
            line-height: 1.35rem;
            display: flex;
            align-items: center;
            color: #c2cad7;
        }
        .description-tag-text {
            font-family: "Caveat";
            font-weight: 300;
            font-size: 2.1rem;
            line-height: 2.15rem;
            color: #262728;
        }
        .hello-text {
            font-family: "SF-Pro";
            font-weight: 800;
            font-size: 4.3rem;
            line-height: 4.35rem;
            letter-spacing: -0.3rem;
            color: #fc3c44;
        }
        .who-am-i {
            font-family: "Caveat";
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 2.55rem;
            color: #000;
            .web-developer {
                font-family: "SF-Pro";
                font-weight: 600;
                font-size: 4rem;
                line-height: 4.05rem;
                letter-spacing: -0.3rem;
                color: #58595b;
            }
        }
        .typewritter-container {
            font-family: "SF-Pro";
            font-weight: 900;
            font-size: 1rem;
            line-height: 1.05rem;
            letter-spacing: 0.1rem;
            color: #0080ff;
        }
        .basic-container {
            font-family: "Caveat";
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.1rem;
            color: #000;
        }
        .name-container {
            font-family: "SF-Pro";
            font-weight: 800;
            font-size: 2.8rem;
            line-height: 2.85rem;
            text-align: center;
            color: #f94c57;
        }
    }
    .align-center {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .heading {
        font-family: "SF-Pro";
        font-weight: 800;
        font-size: 2.0rem;
        line-height: 2.05rem;
        color: #fc3c44;
        margin-bottom: 30px;
    }
    .about-content {
        font-family: "SF-Pro";
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.35rem;
        color: #585858;
    }
    #contact-section {
        .question-pattern {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                flex-wrap: wrap;
                font-family: monospace;
                font-size: 1.5rem;
                letter-spacing: 0.1rem;
                @media (max-width: 992px) {
                    font-size: 1.2rem;
                    letter-spacing: 0.07rem;
                }
                input {
                    border: none;
                    font-family: monospace;
                    font-size: 1.5rem;
                    letter-spacing: 0.1rem;
                    @media (max-width: 992px) {
                        font-size: 1.2rem;
                        letter-spacing: 0.07rem;
                    }
                }
                input:focus {
                    outline: none;
                }
            }
        }
    }
}

.Cur_Input_Line {
    position: relative;
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    font-size: 20px;
}
span {
    font-family: monospace;
    font-weight: 700;
}
.Ter_Green {
    color: chartreuse;
}
.Ter_Blue {
    color: cyan;
}
.Ter_Gray {
    color: rgb(167, 166, 166);
}

input {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
    border: none;
    border-color: transparent;
    background-color: rgb(0, 0, 0);
    width: 75%;
}
input:focus {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;

    border: none;
    border-color: transparent;
    outline: none;
    background-color: rgb(0, 0, 0);

    width: 75%;
    caret-color: #000;
}

.Ter_Input {
    width: 75%;
}

@keyframes Blink_Ani {
    from {
        background-color: #000;
    }
    to {
        background-color: #fff;
    }
}

.information {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    font-family: "SF-Pro";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.05rem;
    color: #58595b;
    div{
        margin: 10px 0;
    }
    b {
        font-family: "SF-Pro";
        font-weight: 800;
        font-size: 1rem;
        line-height: 1.05rem;
        color: #0080ff;
    }
    @media (max-width: 992px) {
        flex-direction: column;
    }
}
