.question-line{
    margin: 10px 0;
}
.typewriter p {
    color: #121212;
    font-family: monospace;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    overflow: hidden;
    border-right: 0.1em solid transparent;
    animation: typing 3s steps(60), blink-caret 5s;
    padding: 0;
    margin: 0;
    @media (max-width: 992px) {
        font-size: 1.2rem;
        letter-spacing: 0.07rem;
    }
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
